<section class="logo-search clearfix" id="logo_search">
  <figure class="logo">
    <%= image_tag('logo.gif') %>
  </figure>
  <article class="search">
    <ul class="search-item-list">
      <% @search_items.each do |search_item| %>
          <li class="search-item <%if @search_items.index(search_item) == 0 %>current<%end%>">
            <a href="<%= search_item[:url] %>" title="<%= search_item[:name] %>"><%= search_item[:name] %></a>
          </li>
      <% end %>
    </ul>
    <form class="search-form">
      <input name="word" type="text" id="search_input" class="search-input"/>
      <input type="submit" value="" class="search-submit"/>
    </form>
    <div class="search-tools">
      <a href="#">高级搜索</a>
      <a href="#">使用帮助</a>
    </div>
  </article>
</section>