#header {
    background: #eeeeee;
    height: 25px;
    border-bottom: 1px solid #cccccc;
}

#header #header_nav {
    width: 960px;
    margin: 0 auto;
    line-height: 25px;
    overflow: hidden;
}

#header #header_nav .welcome {
    float: left;
    margin-left: 200px;
}

#header #header_nav .shortcut {
    float: right;
    margin-left: 50px;
}

#header #header_nav .shortcut .shortcut-item {
    float: left;
    margin: 0 10px;
    line-height: 25px;
}

#header #header_nav .shortcut .shortcut-item a {
    float: left;
}