* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 0;
}

ul {
    list-style: none;
}

a {
    font: "宋体";
    font-size: 12px;
    text-decoration: none;
    color: #696969;
}

a:hover {
    color: red;
    text-decoration: underline;
}